@media screen and (min-width: 700px){
.App{
  display: flex;
  height: 10vh;
  justify-content: flex-start;
  background-color: antiquewhite;
}

.logo{
 margin-left: 30px;
}

.menu,.about, .contact,.features{
  margin: 0px 30px;
}
}

.App{
  background-color: antiquewhite;
}

.logo,.menu,.about, .contact,.features{
  text-align: center;
}

h3{
  margin: 0px;
  padding: 15px;
}

h3:hover{
  background-color: rgb(170, 211, 211);
}

